body {
background-image: url('https://besthqwallpapers.com/Uploads/7-5-2021/166705/brown-paper-texture-grunge-textures-retro-backgrounds-brown-paper-background-paper-backgrounds.jpg');
}

h1 {
    color: white;
}

tr {
    color: white;
}

h3 {
    color: white;

tr h2 {
    color: white;
}
